<!-- /sections/index-html.liquid -->
<div class="index-html{% unless section.settings.full_width %} wrapper{% endunless %}">
  {{ section.settings.html }}
</div>

{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    {
      "type": "html",
      "id": "html",
      "label": "Custom HTML",
      "default": "<div style='text-align: center; padding: 90px 0;'><h4 class='home__subtitle'>Custom HTML</h4><p>Add your custom HTML here.</p></div>"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}
